@import "./var.scss"; //Algumas configurações  <-------

// Configs
body,
main,
footer,
p,
h1,
ul,
li {
  padding: 0px;
  margin: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}



// Header
#showcase {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 105px;
  background-color: $color-4-DB;
}

.list-left {
  display: flex;
  .logo {
    padding: 30px;
  }
  a {
    color: $color-1-L;
  }
  .a-effect{
    color: white;
    font-weight: bold;
  }
  li {
    padding: 45px 0px 44px 15px;
  }
}

.list-right {
  display: flex;
  li {
    margin-top: 40px;
    margin-right: 30px;
    color: $color-1-L;
  }
  .l-acronyms {
    cursor: pointer;
  }
  a{
    color: $color-1-L;
  }
}

.small-button {
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 40px;
  margin-top: 33px;
  margin-right: 25px;
  margin-bottom: 32px;
  background-color: $color-1-B;
  border: $color-1-L;
  border-radius: 4px;
  color: $color-1-L;
  @include text-buttons;
  font-size: 18px;
  a {
    color: $color-1-L;
  }
}
.small-button:hover {
  transition: 0.6s;
  background-color: #1a9ada;
}



// Languages-Menu style
.hover-effect-language{
  display: none!important;
}

.languages-section{
  .menu-l {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 611px;
    height: 644px;
    background-color: $color-5-DB;
    bottom: 25.5%;
    left: 62.4%;
    list-style: none;
    flex-wrap: wrap;
    border-radius: 4px;
    box-shadow: 0 0 0.5em black;
    cursor: pointer;
    position: absolute;
    position: fixed;
    z-index: 4;
    li {
      display: block;
      list-style: none;
      font-family: Lato;
      font-size: 18px;
      font-weight: 400;
      color: #c4cacf;
      padding: 20px 46px 10px 44px;
    }
    .tab-nav1, .tab-nav2{
      border-right: 1px solid #000;
    }
    li:hover{
      transition: 0.8s;
      background-color: $color-2-LB;
    }
    .language-pt{
      color: white;
    }
    .language-pt::before{
      content: "✓";
      margin-right: 8px;

    }
  }
}



// Menu-Categories style
.hover-effect{
  display: none !important;
}
.categories-section{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 400px;
  background-color: $color-3-B;
  color: white;
  position: absolute;
  position: fixed;
  bottom: 48%;
  h2{
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    bottom: 82%;
    left: 22.2%;
  }
  .cards-categories{
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap: 25px;
    margin-bottom: 500px;
    margin-top: 5%;
    margin-left: 15%;
  }
  .card{
    flex-wrap: wrap;
    width: 175px;
    height: 90px;
    background-color: #144E77;
    border-radius: 4px;
    cursor: pointer;
    .LT, p{
      text-align: center;
      font-family: 'Lato';
      font-size: 16px;
      font-weight: 600;
      padding: 32px 20px 0px 20px;
      line-height: 22px;
    }
    .LT{
      padding-top: 24px;
    }
    
  }
  .card:hover{
    box-shadow: 0 0 0 2px white;
  }
  .list-section{
    margin-top: 2%;
    margin-left: 50px;
    display: flex;
    list-style: none;
    .list-1, .list-2, .list-3 li{
      cursor: pointer;
    }
    .list-2{
      margin-top: 3.3%;
    }
    ul{
      font-family: 'Lato';
    }
    li{
      font-family: 'Lato';
      font-size: 16px;
      color: rgb(99, 117, 138);
      margin-right: 50px;
      padding-top: 15px
    }
  }
  .list-section li:hover{
    color: white;
    transition: 0.4s;
  }
  .divider{
    margin-left: 50px;
    width: 1px;
    height: 340px;
    background-color: rgb(255, 255, 255);
  }
}


// Menu-Account Style
.menu-acc{
  width: 200px;
  height: auto;
  position: absolute;
  position: fixed;
  z-index: 4;
  background-color: $color-5-DB;
  box-shadow: 0 0 0.5em black;
  left: 87.6%;
  bottom: 70%;
  font-size: 20px;
  .acc-text{
    font-size: 20px;
     @include little-texts-2;
    font-size: 18px;
    font-weight: 400;
    color: rgba(242,244,246,.9);
    padding-left: 22px;
    border-bottom: 1px solid rgb(67, 79, 93);
    cursor: pointer;
    padding-top: 0.5px;
  }
  h4{
    @include little-texts-2;
    font-size: 18px;
    font-weight: 400;
    color: rgba(242,244,246,.9);
    padding-left: 2px;
  }
}
.acc-text:hover{
    transition: 0.8s;
    background-color: $color-2-LB;
  }

.acc-effect{
  cursor: pointer;
}

.menu-click-effect {
  display: none!important;
}



// Main Styles
#main {
  height: 650px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #000;

  .small-words {
    margin-top: 50px;
    @include little-texts-2;
    font-weight: 300;
    font-size: 16px;
  }
  
  .main-texts {
    margin-left: 100px;
    h1 {
      @include title-text;
      font-weight: 500px;
      padding-top: 100px;
    }
    p {
      @include texts-p();
      color: $color-1-L;
      font-weight: 300;
      font-size: 22px;
      padding-top: 20px;
    }
  }

  .large-button {
    width: 340px;
    height: 70px;
    margin-top: 50px;
    background-color: $color-1-B;
    border: none;
    @include text-buttons-2;
    font-weight: bold;
    cursor: pointer;
  }

  .large-button2 {
    width: 340px;
    height: 70px;
    margin-top: 30px;
    background-color: $color-1-B;
    border: none;
    @include text-buttons-2;
    font-weight: bold;
    cursor: pointer;
  }

  .divider {
    margin-top: 30px;
    display: flex;
    .textdivider {
      font-family: lato;
      font-weight: 300;
      font-size: 18px;
      padding-left: 20px;
      color: $color-1-L;
    }
    .d2 {
      padding-left: 20px;
    }
  }

  .main-background {
    height: auto;
    width: 58%;
  }
}



// Main 2 styles
#channels {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  h1 {
    @include title-text-2;
    font-weight: 300;
    padding-top: 80px;
    font-weight: 300;
  }
  p {
    padding-top: 30px;
    @include little-texts;
    font-family: "Lato";
    font-size: 24px;
    font-weight: 400;
  }
}

.channels-section {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  .channels-section:hover{
    border: 2px solid white;
  }
  .channel {
    width: 250px;
    height: 170px;
    cursor: pointer;
  }
}

.channel:hover {
  transition: 0.3s;
  box-shadow: 0 0 1em black;
}



// Introducing Prime Video Section style
#popcorn {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  background-color: $color-1-D;
  .p-texts {
    color: white;
    margin-right: 400px;
    h2 {
      padding-top: 150px;
      @include title-text;
      letter-spacing: 2px;
    }
    p {
      margin-top: 10px;
      @include texts-p-2;
      font-weight: 300;
    }
    .large-button {
      width: 280px;
      height: 54px;
      margin-top: 50px;
      background-color: $color-1-B;
      border: none;
      @include text-buttons-2;
      font-weight: 600;
      cursor: pointer;
    }
  }
  img {
    margin-left: 100px;
    width: 650px;
    height: 600px;
  }
}



// Svg's section style
.svg-amazon {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  .svg {
    width: 300px;
    height: 300px;
  }
  h2 {
    @include little-texts;
    font-size: 34px;
    font-weight: 500;
  }
  p {
    @include texts-p;
    font-size: 22px;
    font-weight: 300;
  }
}



// Footer style
footer {
  text-align: center;
  background-color: $color-2-D;
  width: 100%;
  height: 20vh;
  margin-top: 25px;
  img {
    padding-top: 10px;
    width: 150px;
    height: 56px;
    cursor: pointer;
  }
  p {
    @include little-texts-2;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    color: $color-1-B;
  }
  span {
    color: $color-3-D;
  }
}



// Background-Shadow style
.modal-active{
  display: none !important;
}

.modal-container{
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: block;
}


